<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>微信注册信息 | 数据管理系统</title>

    <meta name="keywords" content="微信注册信息 | 数据管理系统">
    <meta name="description" content="微信注册信息 | 数据管理系统">

    <!-- 全局CSS -->
    <script src="/js/meta.js"></script>
    <script type="text/javascript">
        BASE_CSS();
        BOOTSTRAP_TABLE_CSS();
    </script>

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins" id="eml-upload">
                <div class="ibox-content" id="eml-content">

                    <script type="text/html" id="eml-template">
                        <div class="panel-body">
                            <div class="mail-tools tooltip-demo m-t-md">
                                <div class="feed-activity-list">
                                    <div class="feed-element">
                                        <h3>
                                            <span class="font-noraml">微信号： </span>{{file.weixin}}
                                        </h3>
                                        <h5>
                                            <span class="font-noraml">QQ号码： </span>{{file.qq}}
                                        </h5>
                                        <h5>
                                            <span class="font-noraml">昵称： </span>{{file.name}}
                                        </h5>
                                    </div>
                                </div>


                                <div class="feed-activity-list">
                                    <div class="feed-element">
                                        <h5><span class="font-noraml">省份： </span>{{file.sf}}</h5>
                                        <h5><span class="font-noraml">城市： </span>{{file.cs}}</h5>
                                        <h5><span class="font-noraml">电话： </span>{{file.dh}}</h5>
                                        <h5><span class="font-noraml">性别： </span>{{file.xb}}</h5>
                                        <h5><span class="font-noraml">Email： </span>{{file.email}}</h5>
                                    </div>
                                </div>
                                <div class="feed-activity-list">
                                    <div class="feed-element">
                                        <div class="media-body ">
                                            <h4>微信好友</h4>
                                            <table id="wxlxrList-table" data-mobile-responsive="true">
                                                <tr><td>无</td></tr>
                                            </table>

                                            <!--<br>-->
                                            <!--<small class="text-muted">-->
                                                <!--{{each file.wxlxrList as ff i}}-->
                                                <!--<code>{{i+1}}</code>{{ff.zh}}&emsp;{{ff.nc}}</br>-->
                                                <!--{{/each}}-->
                                            <!--</small>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="feed-activity-list">
                                    <div class="feed-element">
                                        <div class="media-body ">
                                            <h4>微信群</h4>
                                            <table id="wxqunList-table" data-mobile-responsive="true">
                                                <tr><td>无</td></tr>
                                            </table>

                                            <!--<strong>微信群</strong>：-->
                                            <!--<br>-->
                                            <!--<small class="text-muted">-->
                                                <!--{{each file.wxqunList as ff i}}-->
                                                <!--<code>{{i+1}}</code>{{ff.zh}}&emsp;{{ff.mc}}</br>-->
                                                <!--{{/each}}-->
                                            <!--</small>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="feed-activity-list">
                                    <div class="feed-element">
                                        <div class="media-body ">
                                            <h4>登录记录</h4>
                                            <table id="wxloginipList-table" data-mobile-responsive="true">
                                                <tr><td>无</td></tr>
                                            </table>
                                            <!--<strong>登录IP</strong>：-->
                                            <!--<br>-->
                                            <!--<small class="text-muted">-->
                                                <!--{{each file.wxloginipList as ff i}}-->
                                                <!--<code>{{i+1}}</code>{{ff.ip}}&emsp;{{ff.cjsj}}</br>-->
                                                <!--{{/each}}-->
                                            <!--</small>-->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </script>

                </div>
            </div>
        </div>
    </div>

</div>
<!-- 全局js -->
<script type="text/javascript">
    BASE_JS();
    BOOTSTRAP_TABLE_JS();
</script>
<script src="/js/weixin/weixin-reg-detail.js"></script>

</body>

</html>
