<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>银行开户信息 | 数据管理系统</title>

    <meta name="keywords" content="银行开户信息 | 数据管理系统">
    <meta name="description" content="银行开户信息 | 数据管理系统">

    <!-- 全局CSS -->
    <script src="/js/meta.js"></script>
    <script type="text/javascript">
        BASE_CSS();
        BOOTSTRAP_TABLE_CSS();
    </script>

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins" id="eml-upload">
                <div class="ibox-content" id="data-content">

                    <script type="text/html" id="data-template">
                        <div class="panel-body">
                            <div class="mail-tools tooltip-demo m-t-md">
                                <div class="feed-activity-list">
                                    <div class="feed-element">
                                        <h3>
                                            <span class="font-noraml">客户名称： </span>{{file.name}}
                                        </h3>
                                        <h5>
                                            <span class="font-noraml">账号： </span>{{file.zh}}
                                        </h5>
                                        <h5>
                                            <span class="font-noraml">卡号： </span>{{file.kh}}
                                        </h5>
                                        <h5>
                                            <span class="font-noraml">开户银行： </span>{{file.ssyh}}
                                        </h5>
                                    </div>
                                </div>


                                <div class="feed-activity-list">
                                    <div class="feed-element">
                                        <h5><span class="font-noraml">查询反馈结果： </span>{{file.cxfkjg}}</h5>
                                        <h5><span class="font-noraml">开户日期： </span>{{file.khrq}}</h5>
                                        <h5><span class="font-noraml">销户日期： </span>{{file.xhrq}}</h5>
                                        <h5><span class="font-noraml">开户网点： </span>{{file.khwd}}</h5>
                                        <h5><span class="font-noraml">证照类型： </span>{{file.zzlx}}</h5>
                                        <h5><span class="font-noraml">证照号码： </span>{{file.zzhm}}</h5>
                                        <h5><span class="font-noraml">联系电话： </span>{{file.lxdh}}</h5>
                                        <h5><span class="font-noraml">联系手机： </span>{{file.lxsj}}</h5>
                                        <h5><span class="font-noraml">代办人姓名： </span>{{file.dbrxm}}</h5>
                                        <h5><span class="font-noraml">代办人证件类型： </span>{{file.dbrzjlx}}</h5>
                                        <h5><span class="font-noraml">代办人证件号码： </span>{{file.dbrzjhm}}</h5>
                                        <h5><span class="font-noraml">住宅地址： </span>{{file.zzdz}}</h5>
                                        <h5><span class="font-noraml">住宅电话： </span>{{file.zzdh}}</h5>
                                        <h5><span class="font-noraml">工作单位： </span>{{file.gzdw}}</h5>
                                        <h5><span class="font-noraml">单位地址： </span>{{file.dwdz}}</h5>
                                        <h5><span class="font-noraml">单位电话： </span>{{file.dwdh}}</h5>
                                        <h5><span class="font-noraml">邮箱地址： </span>{{file.email}}</h5>
                                        <h5><span class="font-noraml">法人代表： </span>{{file.frdb}}</h5>
                                        <h5><span class="font-noraml">法人代表证件类型： </span>{{file.frdbzjlx}}</h5>
                                        <h5><span class="font-noraml">法人代表证件号码： </span>{{file.frdbzjhm}}</h5>
                                        <h5><span class="font-noraml">客户工商执照号码： </span>{{file.khgszzhm}}</h5>
                                        <h5><span class="font-noraml">国税纳税号： </span>{{file.gsnsh}}</h5>
                                        <h5><span class="font-noraml">地税纳税号： </span>{{file.dsnsh}}</h5>
                                        <h5><span class="font-noraml">代办人联系电话： </span>{{file.dbrlxdh}}</h5>
                                        <h5><span class="font-noraml">网银账户名： </span>{{file.wyzhm}}</h5>
                                        <h5><span class="font-noraml">网银办理日期： </span>{{file.wyblrq}}</h5>
                                        <h5><span class="font-noraml">网银开户网点： </span>{{file.wykhwd}}</h5>
                                        <h5><span class="font-noraml">网银开户网点代码： </span>{{file.wykhwddm}}</h5>
                                        <h5><span class="font-noraml">网银开户网点所在地： </span>{{file.wykhwdszd}}</h5>
                                        <h5><span class="font-noraml">手机银行账户名： </span>{{file.sjyhzhm}}</h5>
                                        <h5><span class="font-noraml">手机银行办理日期： </span>{{file.sjyhblrq}}</h5>
                                        <h5><span class="font-noraml">手机银行开户网点： </span>{{file.sjyhkhwd}}</h5>
                                        <h5><span class="font-noraml">手机银行开户网点代码： </span>{{file.sjyhkhwddm}}</h5>
                                        <h5><span class="font-noraml">手机银行开户网点所在地： </span>{{file.sjyhkhwdszd}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </script>

                </div>
            </div>
        </div>
    </div>


</div>

<!-- 全局js -->
<script type="text/javascript">
    BASE_JS();
    BOOTSTRAP_TABLE_JS();
</script>
<script src="/js/yhzh2/yhzh-reg-detail.js"></script>

</body>

</html>
