<!DOCTYPE html> <!-- 使用 HTML5 doctype，不区分大小写 -->
<html lang="zh-cmn-Hans"> <!-- 更加标准的 lang 属性写法 -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>可疑人员管理 | 数据管理系统</title>

    <meta name="keywords" content="可疑人员管理,数据管理系统">
    <meta name="description" content="可疑人员管理 | 数据管理系统">

    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <!-- 全局CSS -->
    <script src="/js/meta.js"></script>
    <script type="text/javascript">
        BASE_CSS();
        BOOTSTRAP_TABLE_CSS();
    </script>
    <style>
        #suspicious-table #fix_head{
            background: #FFFFFF;
            box-shadow: 0px 0px 5px #888888;
        }
        .qkjj-cell{
            width: 200px;
        }
        .import-btn{
            display: none;
        }
    </style>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <input id="search-input" class="search-input" type="text" aria-required="true" aria-invalid="false" class="valid">
                        <div class="btn btn-info" id="search-btn"><i class="fa fa-search"></i> 查询</div>
                        <div class="ibox-tools" style="margin-top: -7px;">
                            <div class="btn btn-primary btn-sm" id="pizhu" >批注</div>
                            <div class="btn btn-primary btn-sm" id="exportXls">导出EXCEL</div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <!--<div id="suspicious-table"></div>-->
                        <!--<div id="page_bar">123</div>-->
                        <table id="suspicious-table" data-mobile-responsive="true" >
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- 全局js -->
    <script type="text/javascript">
        BASE_JS();
        BOOTSTRAP_TABLE_JS();
    </script>



    <!-- jQuery Validation plugin javascript-->
    <script src="/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="/js/plugins/validate/messages_zh.min.js"></script>

    <script src="/js/suspicious/suspicious.js"></script>


</body>
</html>