<!DOCTYPE html> <!-- 使用 HTML5 doctype，不区分大小写 -->
<html lang="zh-cmn-Hans"> <!-- 更加标准的 lang 属性写法 -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>自定义建模 | 数据管理系统</title>

    <meta name="keywords" content="自定义建模,数据管理系统">
    <meta name="description" content="自定义建模 | 数据管理系统">

    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link href="/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <!-- 全局CSS -->
    <script src="/js/meta.js"></script>
    <script type="text/javascript">
        BASE_CSS();
        BOOTSTRAP_TABLE_CSS();
    </script>
    <link href="/css/zdycx.css" rel="stylesheet">
    <link href="/js/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content" id="zdyjm-box">
                        <!--<div>-->
                            <!--<label >数据源：</label>-->
                            <!--<select id="meta-index" class="form-control meta-index" style="width: 200px;display: inline;">-->
                                <!--<option value="">-&#45;&#45;请选择-&#45;&#45;</option>-->
                            <!--</select>-->
                        <!--</div>-->
                        <!--<div class="opt-bar" style="border: 0px;padding-top: 0px;text-align: right;">-->
                            <!--<a id="add-must-field">添加必要条件</a>&emsp;-->
                            <!--<a id="add-not-field" >添加排除条件</a>&emsp;-->
                            <!--<input type="checkbox" id="add-group" ><label id="add-group-label"  for="add-group">高级条件</label>-->
                        <!--</div>-->

                        <!--<fieldset class="table-bordered" id="must-field">-->
                            <!--<legend>必要条件</legend>-->
                        <!--</fieldset>-->
                        <!--<fieldset class="table-bordered"  id="not-field">-->
                            <!--<legend>排除条件</legend>-->
                        <!--</fieldset>-->
                        <!--<br>-->
                        <!--<fieldset class="table-bordered" id="group-box" style="display: none;">-->
                            <!--<legend>可能条件组</legend>-->
                            <!--<div class="opt-bar" style="border: 0px;padding-top: 0px;text-align: right;">-->
                                <!--<a id="add-should-field">添加一组条件</a>&emsp;-->
                            <!--</div>-->
                            <!--<div id="should-group-box">-->
                                <!--&lt;!&ndash;<fieldset class="table-bordered">&ndash;&gt;-->
                                <!--&lt;!&ndash;<legend>可能条件</legend>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="opt-bar" style="border: 0px;padding-top: 0px;text-align: right;">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<a class="add-must-field-for-should">添加条件</a>&emsp;&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;&lt;!&ndash;<div class="condtion-item">&ndash;&gt;&ndash;&gt;-->
                                        <!--&lt;!&ndash;&lt;!&ndash;<select id="x" class="form-control meta-index" style="width: 200px;display: inline;">&ndash;&gt;&ndash;&gt;-->
                                            <!--&lt;!&ndash;&lt;!&ndash;<option value="">-&#45;&#45;请选择-&#45;&#45;</option>&ndash;&gt;&ndash;&gt;-->
                                        <!--&lt;!&ndash;&lt;!&ndash;</select>&ndash;&gt;&ndash;&gt;-->
                                    <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                                <!--&lt;!&ndash;</fieldset>&ndash;&gt;-->
                            <!--</div>-->


                        <!--</fieldset>-->

                    <!--</div>-->
                        <div class="row J_mainContent" id="content-main">
                            <iframe class="J_iframe" id="iframe0" width="100%" height="200px" src="/view/mxfx/zdyjm/zdycx.html" frameborder="0" data-id="/view/dashboard.html" seamless></iframe>
                        </div>
                    <div class="ibox-title query-btn-box" style="border: 0px;padding-top: 0px;">
                        <div id="query-btn" class="btn btn-primary btn-sm" >&nbsp;查&nbsp;询&nbsp;</div>&emsp;
                        <div id="rest-btn" class="btn btn-danger btn-sm"  >&nbsp;重&nbsp;置&nbsp;</div>
                    </div>
                </div>

                <div class="ibox float-e-margins" id="data-show-box" style="display: none;">
                    <div class="ibox-title" style="border-top: 1px;padding-top: 2px;min-height: 37px;">
                        <div class="ibox-tools">
                            <div class="btn btn-primary btn-sm" id="exportXls">导出EXCEL</div>
                            <!--<div class="btn btn-primary btn-sm" id="copy-row" data-clipboard-target="copyText">复制行</div>-->
                        </div>
                    </div>
                    <div class="ibox-content" style="border: 0px;padding-top: 0px;">
                        <table id="data-table" data-mobile-responsive="true" >
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- 全局js -->
    <script type="text/javascript">
        BASE_JS();
        BOOTSTRAP_TABLE_JS();
    </script>
    <!-- Data picker -->
    <script src="/js/plugins/moment/moment-with-locales.js"></script>
    <script src="/js/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>

    <!--<script src="/js/mxfx/zdyjm/zdycx.js"></script>-->
    <script src="/js/mxfx/zdyjm/zdyjm.js"></script>


</body>
</html>