<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anluy.admin.mapper.SuspiciousMapper" >
    <resultMap id="BaseResultMap" type="com.anluy.admin.entity.Suspicious" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="gmsfzh" property="gmsfzh" jdbcType="VARCHAR" />
        <result column="qq" property="qq" jdbcType="VARCHAR"/>
        <result column="weixin" property="weixin" jdbcType="VARCHAR" />
        <result column="cft" property="cft" jdbcType="VARCHAR" />
        <result column="zfb" property="zfb" jdbcType="VARCHAR" />
        <result column="yhzh" property="yhzh" jdbcType="INTEGER" />
        <result column="phone" property="phone" jdbcType="INTEGER" />
        <result column="imei" property="imei" jdbcType="VARCHAR" />
        <result column="imsi" property="imsi" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="susp_id" property="suspId" jdbcType="VARCHAR" />
        <result column="susp_name" property="suspName" jdbcType="VARCHAR" />
        <result column="qkjj" property="qkjj" jdbcType="VARCHAR" />
        <result column="other" property="other" jdbcType="VARCHAR" />
        <result column="gzjd" property="gzjd" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="DATE" />
        <result column="modify_time" property="modifyTime" jdbcType="DATE" />


    </resultMap>

    <sql id="Base_Column_List" >
        id, name, gmsfzh, qq, weixin,cft,zfb,yhzh,phone,imei,imsi,email,type,susp_id,susp_name,qkjj,other,gzjd,create_time,modify_time
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM suspicious
    </select>

    <select id="get" parameterType="java.lang.String" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM suspicious
        WHERE id = #{id}
    </select>

    <insert id="save" parameterType="com.anluy.admin.entity.Suspicious" >
        INSERT INTO
        suspicious
        (<include refid="Base_Column_List" />)
        VALUES
        (#{id}, #{name}, #{gmsfzh}, #{qq}, #{weixin},#{cft},#{zfb},#{yhzh},#{phone},#{imei},#{imsi},#{email},#{type},#{suspId},#{suspName},#{qkjj},#{other},#{gzjd},#{createTime},#{modifyTime})
    </insert>

    <update id="update" parameterType="com.anluy.admin.entity.Suspicious" >
        UPDATE
        suspicious
        SET
        <if test="name != null">name = #{name},</if>
        <if test="gmsfzh != null">gmsfzh = #{gmsfzh},</if>
        <if test="qq != null">qq = #{qq},</if>
        <if test="weixin != null">weixin = #{weixin},</if>
        <if test="cft != null">cft = #{cft},</if>
        <if test="zfb != null">zfb = #{zfb},</if>
        <if test="yhzh != null">yhzh = #{yhzh},</if>
        <if test="phone != null">phone = #{phone},</if>
        <if test="imei != null">imei = #{imei},</if>
        <if test="imsi != null">imsi = #{imsi},</if>
        <if test="email != null">email = #{email},</if>
        <if test="type != null">type = #{type},</if>
        <if test="suspId != null">susp_id = #{suspId},</if>
        <if test="suspName != null">susp_name = #{suspName},</if>
        <if test="qkjj != null">qkjj = #{qkjj},</if>
        <if test="other != null">other = #{other},</if>
        <if test="gzjd != null">gzjd = #{gzjd},</if>
        <if test="createTime != null">create_Time = #{createTime},</if>
        <if test="modifyTime != null">modify_Time = #{modifyTime},</if>
        id = #{id}
        WHERE
        id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long" >
        DELETE FROM
        users
        WHERE
        id =#{id}
    </delete>
</mapper>